img {
    border-radius: 30px;
}

.knimg {
    filter: drop-shadow(0px 16px 10px rgba(6, 6, 6, 0.29));
}

div.reveal {
    background: linear-gradient(129deg, #4494ce, #0064ac, #0064ac, #639ac1, #277d4c, #0064ac);
    background-size: 400% 400%;

    -webkit-animation: KnativeGradient 240s ease infinite;
    -moz-animation: KnativeGradient 240s ease infinite;
    animation: KnativeGradient 240s ease infinite;
}

@-webkit-keyframes KnativeGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@-moz-keyframes KnativeGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@keyframes KnativeGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}

.bgwhite {
    background: white;
    width: fit-content;
    margin: auto;
}

.reveal code {
    background: black;
    border-radius: 10px;
    line-break: loose;
    padding: 6px;
}

.reveal .code-wrapper code {
    border-radius: 10px;
    max-height: fit-content;
    padding: 10px;
}

.reveal pre {
    border-radius: 10px;
    background: #3f3f3f;
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: fit-content;
    word-wrap: normal;
    font-family: var(--r-code-font);
    text-transform: none;
    tab-size: 2;
    width: fit-content;
}

.reveal .code-wrapper {
    border-radius: 30px;
}

.reveal p {
    font-size: 2rem;
}

.reveal a {
    background: #555555;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
}

div.logos-background {
  background: black;
}

:root {
    --r-main-font-size: 35px;
    --r-heading3-size: 2.09em;
    --r-heading4-size: 2.09em;
}
