@font-face { font-family: 'IBM Plex Mono'; src: url('/fonts/IBMPlexMono-Regular.ttf'); }
@font-face { font-family: 'Montserrat Regular'; src: url('/fonts/Montserrat-Regular.ttf'); }
@font-face { font-family: 'Montserrat Bold'; src: url('/fonts/Montserrat-Bold.ttf'); }

img {
    border-radius: 30px;
}

.reveal .code-wrapper code {
    border-radius: 20px;
}

.reveal .code-wrapper {
    border-radius: 30px;
}

.reveal p {
    font-size: 2rem;
}

.reveal a {
    background: #555555;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 2px;
}

div.logos-background {
  background: black;
}

:root {
    --r-heading-font: 'Montserrat Bold', sans-serif;
    --r-main-font: 'Montserrat Regular', sans-serif;
    --r-main-font-size: 35px;
}

h1, h2, h3 {
    font-family: 'Montserrat Bold', sans-serif;
}

p {
    font-family: 'Montserrat Regular', sans-serif;
}

.reveal code, .reveal .code-wrapper code, pre[data-auto-animate-target='unmatched'], div.org-src-container > pre {
  font-family: 'IBM Plex Mono', monospace;
}
