div.reveal {
    background: linear-gradient(129deg, #11bed3, #326de5);
    background-size: 400% 400%;

    -webkit-animation: KnativeGradient 240s ease infinite;
    -moz-animation: KnativeGradient 240s ease infinite;
    animation: KnativeGradient 240s ease infinite;
}

@-webkit-keyframes KnativeGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@-moz-keyframes KnativeGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@keyframes KnativeGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}

img {
    border-radius: 30px;
}

.bgwhite {
    background: white;
    width: fit-content;
    margin: auto;
}

.reveal code {
    background: black;
    border-radius: 10px;
    line-break: loose;
    padding: 6px;
}

.reveal .code-wrapper code {
    border-radius: 10px;
    max-height: 500px;
    padding: 10px;
}

.reveal pre {
    border-radius: 10px;
    background: #3f3f3f;
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 500px;
    word-wrap: normal;
    font-family: var(--r-code-font);
    text-transform: none;
    tab-size: 2;
    width: fit-content;
}

.reveal .code-wrapper {
    border-radius: 30px;
}

.reveal p {
    font-size: 2rem;
}

.reveal a {
    background: #555555;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
}

div.logos-background {
    background: black;
}

:root {
    --r-main-font-size: 35px;
    --r-heading3-size: 2.09em;
    --r-heading4-size: 2.09em;
}

.reveal h1, .reveal h2, .reveal h3, p, code, ul li, tr td {
    color: white;
}
