:root {
    --r-heading1-size: 3em;
}

img {
    border-radius: 30px;
}

.bgwhite {
    background: white;
    width: fit-content;
    margin: auto;
}

div.reveal {
    background: linear-gradient(129deg, #ffebd8, #edc7a3, #ffebd8, #edc7a3);
    background-size: 400% 400%;

    -webkit-animation: SigstoreGradient 40s ease infinite;
    -moz-animation: SigstoreGradient 40s ease infinite;
    animation: SigstoreGradient 40s ease infinite;
}

@-webkit-keyframes SigstoreGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@-moz-keyframes SigstoreGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}
@keyframes SigstoreGradient {
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}

.reveal code {
    background: black;
    border-radius: 10px;
    line-break: loose;
    padding: 6px;
    color: white;
}

.reveal .code-wrapper code {
    border-radius: 10px;
    max-height: 500px;
    padding: 10px;
}

.reveal pre {
    border-radius: 10px;
    background: #3f3f3f;
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 500px;
    word-wrap: normal;
    font-family: var(--r-code-font);
    text-transform: none;
    tab-size: 2;
    width: fit-content;
}

.reveal .code-wrapper {
    border-radius: 30px;
}

.reveal p {
    font-size: 2rem;
}

.reveal a {
    background: #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
}
.reveal a:has(img) {
    background: none;
}

div.logos-background {
    background: black;
}

.reveal blockquote {
    background: rgba(255, 255, 255, 0.7);
}

:root {
    --r-main-font-size: 35px;
    --r-heading3-size: 2.09em;
    --r-heading4-size: 2.09em;
}
