<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <title>{{ if .IsHome }}{{ .Site.Title | emojify }}{{ else }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>
    <link rel="shortcut icon" href="{{ .Site.Params.favicon | default "/favicon.ico" }}" />
    <meta charset="utf-8" />
    {{ hugo.Generator }}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ .Site.Params.author | default "John Doe" }}" />
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    {{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | css.Sass | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    {{- if and (not hugo.IsServer) .Site.Params.plausible.enable }}
    <script defer data-domain="{{ .Site.Params.plausible.domain }}" src="https://plausible.io/js/script.js"></script>
    {{- end }}
    {{ $js := resources.Match "**/*.js" | resources.Concat "js/cw.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

    {{ partial "cw-og.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
  </head>
  <body>
    <div>
      <div class="header">
          <div class="nav">
            {{ $pageUrl := $.Page.Permalink | urls.RelURL }}
              {{ range $item := $.Site.Menus.nav }}
            {{ $menuItemUrl := (print ($item.URL | urls.RelURL)) }}
            <div class="item {{ if (eq $pageUrl $menuItemUrl) }}selected{{ end }}">
                  <a href="{{ $item.URL }}" {{ if (eq $item.Params.newtab true) }} target=_blank {{ end }}>
                    {{ print ":" $item.Params.emoji ":" | emojify | safeHTML }}
                      {{ $item.Name }}
                  </a>
              </div>
              {{ end }}
          </div>
      </div>
    </div>
    <main class="app-container">
      {{ block "main" . }}
        {{ .Content | emojify }}
      {{ end }}
    </main>
    <div class="post-footer">
      <div class="app-footer-content">
      <div class="coolthingbox">
        <p class="localnztime"></p>
        <p class="scoop hidden"></p>
      </div>
      {{- with .Site.Menus.main }}
      <nav class="app-header-menu">
        {{- range $key, $item := . }}
        {{- if ne $key 0 }}
        {{ $.Site.Params.menu_item_separator | default " - " | safeHTML }}
        {{ end }}
        <a class="app-header-menu-item {{ if eq $item.Params.standout true}}app-header-menu-item-standout{{ end }}" href="{{ $item.URL }}" {{ if eq $item.Params.newtab true}} target=_blank {{ end }}>{{ $item.Name }}</a>
        {{- end }}
      </nav>
      {{- end }}
      <div class="app-header-social">
        {{ range .Site.Params.social }}
        <a id="footer-social-{{ .name }}" target="_blank" href="{{ .url }}" rel="noreferrer noopener">{{ partial "icon.html" (dict "ctx" $ "name" .icon ) }}</a>
        {{ end }}
      </div>
      <p>
        {{- if ne .Type "page" }}
        If an article has helped you, please feel free to donate
        <a target=_blank href="https://liberapay.com/CalebWoodbine/donate"><img alt="Donate using Liberapay" src="/images/misc/donate.svg"></a>
        <br/>
        {{- end }}
        {{- $dateYear := time.Now | time.Format "2006" }}
        {{- if .PublishDate }}
        {{- $dateYear = .PublishDate.Format "2006" }}
        {{- end }}
        <span class="flip">Copyright {{ ":copyright:" | emojify }}</span> Caleb Woodbine {{ $dateYear }} - All Rights Reserved.
      </p>
      <div class="straightandlevel">
        <p>{{ ":small_airplane:" | emojify }}</p>
      </div>
      </div>
    </div>
    <div class="thestripe"></div>
  </body>
</html>
