{{ define "main" }}
  <main>
    <div class="home-page-hero">
      <div class="items">
        <div class="background-shapes"></div>
        <img id="app-header-avatar" class="app-header-avatar" src="{{ .Site.Params.avatar | default "avatar.jpg" | relURL }}" alt="{{ .Site.Params.author | default "John Doe" }}" />
        <div class="greeter">
          <h1>{{ .Site.Title }}</h1>
          <p>{{ .Site.Params.description | default "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula turpis sit amet elit pretium." | emojify }}</p>
        </div>
      </div>
      {{- if (not (eq $.Site.Params.post_notice "")) }}
      <div class="post-notice-message">
        <a href="{{ $.Site.Params.post_notice_link }}">{{ $.Site.Params.post_notice | emojify }}</a>
      </div>
      {{- end }}

      <div class="post-content striking-gradient-border">
        {{ .Content }}
      </div>
      <div class="latest-posts">
        <div class="latest-post">
          <p>Latest post</p>
          <ul class="posts-list">
            {{ range first 1 (where (where .Paginator.Pages "Type" "!=" "page") "File.Dir" "posts/") }}
            <li class="posts-list-item">
              <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ print ":memo:" | emojify }} {{ .Title }}</a>
              {{ $preview := .Summary }}
              {{- if .Params.shortSummary }}
              {{- $preview = .Params.shortSummary }}
              {{- end }}
              <p><quote>{{ $preview | plainify }}</quote></p>
              <p>{{ .PublishDate.Format "Jan 2, 2006" }}</p>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="latest-mastodon-post">
          <p>Latest Mastodon post</p>
          <ul class="posts-list">
            <li class="posts-list-item">
              <a class="posts-list-item-content" target=_blank href="">
                <span>
                  ...
                </span>
              </a>
              <p class="date"></p>
            </li>
          </ul>
        </div>
        <div class="latest-post">
          <p>Latest presentation</p>
          <ul class="posts-list">
            {{ range first 1 (where (where .Paginator.Pages "Type" "!=" "page") "File.Dir" "presentations/") }}
            <li class="posts-list-item">
              <a class="posts-list-item-title" href="{{ .RelPermalink }}"><img src="{{ .Params.image }}"></a>
              <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ print ":memo:" | emojify }} {{ .Title }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </main>
{{ end }}
