{{ define "main" }}
  <article class="post">
    <header class="post-header">
      {{- if not (eq .Params.type "page") }}
      <h3>Caleb Woodbine's blog</h3>
      {{- end }}
      {{- $backLink := (path.Join "/" .Page.File.Dir) }}
      <a href="{{ $backLink }}"><p>{{ print ":fast_reverse_button:" | emojify }} Back</p></a>
      {{- if .Params.img }}
      <img src="{{ .Params.img }}" width="300" />
      {{- end }}
      <h1 class ="post-title">{{ print ":page_facing_up:" | emojify }} {{ .Title }}</h1>
      {{- if ne .Type "page" }}
      <div class="post-meta">
        {{- if (not (eq $.Site.Params.post_notice "")) }}
        <div class="post-notice-message">
          <a href="{{ $.Site.Params.post_notice_link }}">{{ $.Site.Params.post_notice | emojify }}</a>
        </div>
        {{- end }}
        {{- if and (gt (sub now.Unix .PublishDate.Unix) 47304000) (ne (.Params.relevant) true) }}
        <div class="outta-date-notice">
          <p>{{ ":warning:" | emojify }} Please note: this post is at least a year old and could be out of date.</p>
        </div>
        {{- end }}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
        {{- if not (eq .Page.File.Dir "presentations/") }}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
          {{ .ReadingTime }} min read
        </div>
        {{- end }}
        {{- with .Params.tags }}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
          {{- range . -}}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
              <a class="tag" href="{{ .Permalink }}">{{ .Title | emojify }}</a>
            {{- end }}
          {{- end }}
        </div>
        {{- end }}
      </div>
      {{- end }}
    </header>
    {{- if .Params.image }}
    <div class="preview-image">
      <img src="{{ .Params.image }}">
    </div>
    {{- end }}
    <div class="post-content">
      {{ .Content | emojify }}
    </div>
  </article>
{{ end }}
