main.app-container {
  padding: 1rem;
  margin: 0 auto;
  min-height: 40rem;
}

blockquote {
  font-style: italic;
}

code > span {
  color: #fff;
}

a, p, article a.nav {
  word-break: break-word;
}

p code {
    border-radius: 17px;
}

.post-title, .post-content h2, article h1, h1.error-404-title {
  box-shadow: 0 0 38px -21px #000;
}

.post-content h3 {
  box-shadow: 0 0 38px -21px #5724e3;
}

.post-content img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-shadow: 0 0 38px -11px #000;
}

div.highlight pre, p code, pre.example {
    color: #fff;
    background: #0e0f11;
    padding: 5px 5px;
    border: 2px solid #6c6c6c;
    line-break: anywhere;
}

article h1, .post-content h2, .post-content h3, .post-content h4, h1.error-404-title {
  margin: 0 0;
  background-color: #efecf6;
  border-radius: 1rem;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  width: -webkit-fill-available;
}

pre {
    border-radius: 30px;
    background: #0e0f11 !important;
    font-size: 1.4rem;
    padding: 1rem 1rem 1rem 1rem !important;
}

a {
    color: #0e25b8
}

header.app-header {
    background: linear-gradient(140deg, #275b88, #20b9e6) no-repeat 50%;
    background-size: 400% 400%;
    animation: NavBarGradient 20s ease infinite;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    box-shadow: -15px 0 100px -28px #000;
}

header.app-header h1, header.app-header p, header.app-header a {
    color: #fff;
}

header.app-header h1 {
  font-size: 1.6rem;
}


header.post-header img {
  margin: 4rem auto;
  display: block;
}

img.app-header-avatar, header.post-header img {
  max-width: 24rem;
  max-height: 24rem;
  border: none;
  box-shadow: 0 0 52px -31px #000;
  position: relative;
  z-index: 200;
  object-fit: cover;
  object-position: 131% 0;
  border-radius: 10%;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('/images/misc/caleb-woodbine-but-pointing-at-you.webp') url('/images/misc/caleb-woodbine-but-you-are-looking.webp');
}

img.app-header-avatar:hover {
  content: url('/images/misc/caleb-woodbine-but-you-are-looking.webp');
}
img.app-header-avatar:active {
  content: url('/images/misc/caleb-woodbine-but-pointing-at-you.webp');
}

canvas.confetti-canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

p {
  color: #080808;
}

p, dt, li, article a.nav {
    font-size: 1.4rem;
}

a.tag {
  background: #efecf6;
  border-radius: 10px;
  color: #1bc3d4;

}

div.post-content {
  margin-top: 1rem;
}

dt {
    color: #000;
    font-weight: bold;
}

ul.posts-list {
    font-size: 1.4rem;
}

.page-item.active .page-link {
    background: none;
}

ul li p {
    margin: 5px 0px;
}

table {
  background-color: #fafafa;
  padding: 10px 10px;
  border-radius: 20px;
  font-family: sans-serif;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 38px -26px #000;
}

thead {
  background-color: #dae2e380;
  border-radius: 20px;
  padding: 3px 3px;
}

table tbody tr td {
  font-size: 1.3rem;
  padding-left: 20px;
}

table thead tr th {
  font-size: 1.4rem;
}

div.post-meta {
  font-size: 1.1rem;
}

div.footer p {
  color: black;
}

div.post-footer {
  box-shadow: 0 0 26px -19px #000;
}

div.app-footer-content {
  display: block;
  padding-bottom: 0;
}

div.app-footer-content:last-of-type p {
  margin-bottom: 0;
}

div.app-footer-content div.app-header-social a {
  color: black;
}

div.app-footer-content div.app-header-social {
  text-align: center;
}

a.app-header-menu-item-standout {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  box-shadow: #dfff00 0px 0px 10px -4px;
}

em {
  word-break: break-all;
}

p span.flip:hover {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
}

div.outta-date-notice {
  background: #f6dddd;
  border-radius: 30px;
  padding: 0 0;
  padding-left: 10px;
  text-align: left;
}

div.post-notice-message {
  text-align: center;
  border-radius: 30px;
  margin: 10px auto;
  padding: 10px 3rem;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  box-shadow: 0 0 38px -21px #000;

  background: linear-gradient(175deg, #b3b3b3, #7dd482, #f17f05);
  background-size: 600% 600%;
  -webkit-animation: post-notice-message-animation 18s ease infinite;
  -moz-animation: post-notice-message-animation 18s ease infinite;
  animation: post-notice-message-animation 18s ease infinite;
}

article div.post-notice-message {
  width: 100%;
}

div.post-notice-message a {
  font-size: large;
}

div.post-notice-message a:link {
  color: white;
}

div.post-notice-message a:visited {
  color: white;
}

a:hover, div.latest-mastodon-post li.posts-list-item p:hover:nth-child(1) {
  text-decoration: underline;
  text-decoration-color: purple;
  text-decoration-thickness: 6px;
}

div.post-notice-message a:active {
  color: white;
}

@-webkit-keyframes post-notice-message-animation {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-moz-keyframes post-notice-message-animation {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@keyframes post-notice-message-animation {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}

h3 code {
    color: black;
}

.coolthingbox {
  display: flex;
  flex-flow: column;
  margin: 1rem;
}

.localnztime, .scoop {
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 30px;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.scoop {
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
  box-shadow: black 1px 23px 32px;
}

article.search {
  min-height: 40rem;
  position: relative;
  display: block;
}

div.home-page-hero {
  min-height: 40rem;
  position: relative;
  display: block;
  text-align: center;
}

div.home-page-hero div.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

div.home-page-hero div.items * {
  margin: 1rem;
}

div.home-page-hero div.items img#app-header-avatar {
}

div.home-page-hero div.items div.greeter h1 {
}

div.latest-post li.posts-list-item {
  background-color: #eee9f0;
  border-radius: 30px;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
  text-align: left;
}

div.home-page-hero div.latest-post {
}

div.home-page-hero div.latest-post a {
  font-size: 1.3rem;
}

div.latest-post li.posts-list-item img {
  max-width: 100%;
}

div.header div.nav {
    display: flex;
    align-items: left;
    justify-content: left;
}
div.header div.nav div.item {
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    text-align: center;
}

div.header div.nav div.item:nth-child(1) {
    border-radius: 0px 0px 15px 0px;
}
div.header div.nav div.item.selected {
    background-color: var(--color-primary);
}
div.header div.nav div.item a {
    font-size: var(--fs-s);
}

div.presentations-list {}
div.presentations-list div.item {
}
div.presentations-list div.item img {
  max-width: 100%;
}

div.straightandlevel {
  overflow: hidden;
  width: 100%;
}
div.straightandlevel p {
  height: 40px;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-animation: scroll-right 60s linear infinite;
  -webkit-animation: scroll-right 60s linear infinite;
  animation: scroll-right 60s linear infinite;
}

@-moz-keyframes scroll-right {
  0% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(100%);
  }
}

@-webkit-keyframes scroll-right {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

@keyframes scroll-right {
  0% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

ul.tags-list {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 870px) {
  header.app-header {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -131px -17px 40px 122px #000;
  }

  div.app-menu-content {
    display: block;
  }

  .localnztime, .scoop {
    width: fit-content;
  }

  .coolthingbox {
    flex-flow: row;
    margin: 0;
  }
  canvas.confetti-canvas {
  }
  div.home-page-hero div.items {
    flex-direction: row;
    margin: 0 auto;
  }
  div.header div.nav div.item {
    width: auto;
  }

  h1 {
      font-size: 3.8rem;
  }

  h2 {
      font-size: 3.2rem;
  }

  h3 {
      font-size: 1.9rem;
  }

  h4 {
      font-size: 1.4rem;
  }

  p, dt, li, article a.nav {
      font-size: 1.4rem;
  }

  div.header div.nav div.item a {
      font-size: 1.3rem;
  }
}

.app-header-social {
  font-size: 1.3em;
}

.app-header-notice {
  background-color: #4fb9b4;
  border-radius: 10rem;
  font-weight: 1000;
  font-family: monospace;
}

.app-footer-content {
 padding: 40px;
 background: #eaf7fd;
 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 text-align: center;
}

.hidden {
  display: none;
}

input.input {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  font-size: medium;
  border: none;
  box-shadow: black 0 0 30px -18px;
  border-radius: 30rem;
}
input.input:hover {
  color: black;
}

p.interest-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
span.interest-item {
  background-color: #f4f4f4;
  padding: .5rem;
  border-radius: 10px;
  margin: 2px;
  min-width: auto;
}

div.latest-mastodon-post li.posts-list-item {
  background-color: #1f232b;
  border-radius: 30px;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

div.latest-mastodon-post li.posts-list-item * {
  font-size: 1.3rem;
}
div.latest-mastodon-post li.posts-list-item p {
  color: white;
}
div.latest-mastodon-post li.posts-list-item a {
  color: lightgray;
}

div.latest-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
}
div.latest-posts div {
  max-width: 30rem;
  margin: 1rem auto;
}
div.latest-posts li {
  box-shadow: 0 0 52px -31px #000;
}

div.home-page-hero div.post-content.striking-gradient-border {
    background:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(to right, #7dd482, #9c20aa, #fb3570) border-box;
  border-radius: 30px;
  border: 5px solid transparent;
  color: black;
  display: inline-block;
  padding: 0 50px;
}

div.thestripe {
    background: rgb(1, 1, 1);
    background: -o-linear-gradient(left, rgba(255,0,0,0.93) 0%, rgba(247,255,0,1) 9%, rgba(97,255,0,1) 26%, rgba(0,255,254,1) 41%, rgba(0,71,255,1) 58%, rgba(151,0,255,1) 74%, rgba(255,0,230,1) 86%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,0,0,0.93)), color-stop(9%, rgba(247,255,0,1)), color-stop(26%, rgba(97,255,0,1)), color-stop(41%, rgba(0,255,254,1)), color-stop(58%, rgba(0,71,255,1)), color-stop(74%, rgba(151,0,255,1)), color-stop(86%, rgba(255,0,230,1)));
    background: linear-gradient(90deg, rgba(255,0,0,0.93) 0%, rgba(247,255,0,1) 9%, rgba(97,255,0,1) 26%, rgba(0,255,254,1) 41%, rgba(0,71,255,1) 58%, rgba(151,0,255,1) 74%, rgba(255,0,230,1) 86%);
    height: 2.2px;
}

div.preview-image img {
  max-width: 100%;
}
