.posts-list {
  padding: 0;
}

.posts-list-item {
  list-style: none;
  padding: 0.4em 0;

  &:not(:last-child) {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  }
}

.posts-list-item-description {
  display: block;
  font-size: 0.8em;
}

.posts-list-item-summary {
  font-style: oblique;
  font-size: 0.7em;
}
