{{ define "main" }}
  <article>
    <h1>{{ print ":open_file_folder:" | emojify }} {{ .Title }}</h1>
    <p>{{ .Description }}</p>
    <ul class="tags-list">
      {{ range where .Pages "Type" "!=" "page" }}
        <li class="tags-list-item">
          <a class="tags-list-item-title" href="{{ .RelPermalink }}">{{ print ":label:" | emojify }} {{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </article>
{{ end }}
