{{ define "main" }}
  <article>
    <h1>{{ print ":open_file_folder:" | emojify }} {{ .Title }}</h1>
    {{- if (not (eq $.Site.Params.post_notice "")) }}
    <div class="post-notice-message">
      <a href="{{ $.Site.Params.post_notice_link }}">{{ $.Site.Params.post_notice | emojify }}</a>
    </div>
    {{- end }}
    <ul class="posts-list">
      {{ range where (where .Paginator.Pages "Type" "!=" "page") "File.Dir" "posts/" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .RelPermalink }}">{{ print ":memo:" | emojify }} {{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            -
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "login.html" $ }}
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
