{{ define "main" }}
<article>
  <h1>{{ print ":microphone:" | emojify }} {{ .Title }}</h1>
  {{- if (not (eq $.Site.Params.post_notice "")) }}
  <div class="post-notice-message">
    <a href="{{ $.Site.Params.post_notice_link }}">{{ $.Site.Params.post_notice | emojify }}</a>
  </div>
  {{- end }}
  <div class="post-content">
    {{ .Content | emojify }}
  </div>
  <div class="presentations-list">
    {{ range .Pages.ByDate.Reverse }}
    <div class="item">
      <h3><a href="{{ .RelPermalink }}">{{ ":page_facing_up:" | emojify }} {{ .Title }}</a></h3>
      <img src="{{ .Params.image }}">
      <p>{{ .PublishDate.Format "Jan 2, 2006" }}</p>
      <p>
        {{ .Content }}
      </p>
    </div>
    {{ end }}
  </div>
</article>
{{ end }}
