{{ define "main" }}
  <a href="{{ "/" | relURL }}"><p>⏪ Back</p></a>
  <div class="error-404">
    <h1 class="error-404-title">Wait a minute. How did <i>YOU</i> get here? {{ ":thinking:" | emojify }} </h1>
    <p>
      This link doesn't seem to go anywhere.

      Perhaps it might some day, perhaps it might not. idk.
    </p>
  </div>
{{ end }}
