{{ define "main" }}
  <article class="search">
    <h1>{{ print ":open_file_folder:" | emojify }} {{ .Title }}</h1>
    <p>{{ .Description }}</p>
    <input id="searchInput" class="input" type="text" placeholder="Start typing to search..."></input>
    <template id="post-list-item">
      <li class="posts-list-item">
        <a class="posts-list-item-title" href=""></a>
      </li>
    </template>
    <ul class="posts-list">
    </ul>
    <p id="msg"></p>
  </article>
{{ end }}
